<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
    <link rel="stylesheet" href="/static/style1.css">
</head>

<body>
    
        <div class="noor">

            <form action="/search" method="GET">
                <center>
                <input type="text" name="searchTerm" placeholder="Enter..." list="searchCriteria" autocomplete="off">
                <datalist id="searchCriteria">
                    {{range .}}
                  <option value="{{ .Name}}">Name</option>
                  <option value="{{ .CreationDate}}">Creation Date</option>

                  
                  <option value="{{ .FirstAlbum}}">First Album</option>
                  {{end}}
                </datalist>
                <button type="submit">Search</button>
               </center>
            </form>
          
        </div>
            <br>
         <div class="container">   
     <div class="card__container">
            {{range .}}
            <article class="card__article">
                <img src="{{.Image}}" alt="Artist Image" class="card__img">
                <div class="card__data">
                    <a href="https://groupietrackers.herokuapp.com/api/artists/{{.ID}}">
                        <h2 class="card__title">{{.Name}}</h2>
                    </a>
                    <p class="card__description">Creation Date: {{.CreationDate}}</p>
                    <a href="/details?id={{.ID}}" class="card__button">Read More</a>
                </div>
            </article>
            {{end}}
    </div>
</div>
</body>

</html>